<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.as.ssm.dao.MenuMapper">

<!--    递归调用:方法自已调用自已-->
    <select id="selectByParentId" resultMap="map1">
        <!--select a.*,b.empid from  menu a,usersmenu b
        where a.menuid=b.menuid and b.empid=#{mid} and parentid=#{parentid}-->
        select DISTINCT a.*,c.empid from menu a, rolepermission b,userrole c
        where a.menuid=b.menuid and c.roleid=b.roleid
        and  c.empid=#{mid} and parentid=#{parentid}
        and a.ismenu=1
        order by sort asc
    </select>
    <resultMap id="map1" type="com.as.ssm.domain.Menu">
        <id property="menuid" column="menuid"/>
        <result property="menuname" column="menuname"/>
        <result property="url" column="url"/>
        <result property="parentid" column="parentid"/>
        <result property="ico" column="ico"/>
        <result property="empid" column="empid"/>
        <result property="isMenu" column="ismenu"/>
        <result property="sort" column="sort"/>
        <!--多参数 格式{参数名1=列1,参数名2=列2,...}-->
        <collection property="list" ofType="com.as.ssm.domain.Menu" column="{mid=empid,parentid=menuid}" select="selectByParentId"></collection>
    </resultMap>


    <!-- 查询所有菜单   递归调用:方法自已调用自已-->
    <select id="select" resultMap="map2">
        select * from menu where parentid=#{parentid}
    </select>


    <resultMap id="map2" type="com.as.ssm.domain.Menu">
        <id property="menuid" column="menuid"/>
        <result property="menuname" column="menuname"/>
        <result property="url" column="url"/>
        <result property="parentid" column="parentid"/>
        <result property="ico" column="ico"/>
        <result property="isMenu" column="ismenu"/>
        <result property="sort" column="sort"/>
        <collection property="list" ofType="com.as.ssm.domain.Menu" column="menuid"  select="select"></collection>
    </resultMap>


</mapper>